header{
  height:20px;
  background: #fff;
  font-family: 'Amatic SC', cursive;
  color: #000;
  font-size: 30px;
}

.dot {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border-style: none;
  overflow: hidden;
}

main {
  margin: 20px;
  padding: 2px;
  display: flex;
  font-family: Arial;
  align-items: center;
  justify-content: center;
}
footer{
  height:100px;
  background: #fff;
}
