* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}
#page {
  background-image: url("img/textureblack.png");
  background-size:cover;
            background-repeat:no-repeat" 
}
.header {
  width: 100%;
    position: absolute;
    height: 1px;
    margin: auto;
    top: 0;
}